<configuration>
	<property resource="location.properties" />
	<appender name="STDOUT"
		class="ch.qos.logback.core.ConsoleAppender">
		<!-- encoders are assigned the type ch.qos.logback.classic.encoder.PatternLayoutEncoder 
			by default -->
		<encoder>
			<pattern>%d %green([%thread]) %highlight(%level) %logger{36} - %msg%n
			</pattern>
		</encoder>
	</appender>

	<appender name="Audit"
		class="ch.qos.logback.core.FileAppender">
		<append>true</append>
		<file>${AUDIT_HOME}/Audit.log</file>
		<layout class="ch.qos.logback.classic.PatternLayout">
			<Pattern>%-5level %msg%n</Pattern>
		</layout>
		<prudent>true</prudent>
	</appender>
	<appender name="Transaction"
		class="ch.qos.logback.core.FileAppender">
		<append>true</append>
		<file>${TRANSACTION_HOME}/Transaction.log</file>
		<layout class="ch.qos.logback.classic.PatternLayout">
			<Pattern>%-5level %msg%n</Pattern>
		</layout>
		<prudent>true</prudent>
	</appender>

	<root level="info">
		<appender-ref ref="STDOUT" />
	</root>
	<logger name="Transaction" level="info">
		<appender-ref ref="Transaction" />
	</logger>
	<logger name="Audit" level="info">
		<appender-ref ref="Audit" />
	</logger>

</configuration> 